@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model FanMailModel;

<h2>Send Fan Mail</h2>
<form method="post">
    <label>From:</label><input id="txtFrom" asp-for="From" />
    <br />
    <label>Subject:</label><input id="txtSubj" asp-for="Subject" />
    <br />
    <label>Message:</label><textarea id="txtMessage" rows="4" asp-for="Message"></textarea>
    <br />

    <input id="btnSend" type="submit" value="Send Message" />

    <div asp-validation-summary="All"></div>
</form>