@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prof Ganderson Fan Club";
}

<h1>Prof Ganderson Fan Site</h1>
<img src="img/ProfGreg.jpg" id="picGanderson" />

<p>Prof Anderson (a.k.a. Prof Ganderson) a professor at BYU</p>

<br />

<p>
    We love him because:
</p>
<ul>
    <li>A: His hair</li>
    <li>B: His face</li>
    <li>C: His personality</li>
    <li>D: Because he is awesome</li>
    <li>E: All of the above</li>
</ul>

    

